/*!
Theme Name: Tour
Description: Tour is a Fully Responsive Tour WordPress Theme, a perfect choice for a travel agency website, traveling or journey blog, etc. Features include built-in slider, multi-level drop-down menu, W3C markup validated, right sidebar widget area, 3 Footer widget areas, header social icons, full-width page template, header and footer social icons, footer copyright, footer menu, background color and image, FontAwesome integration, translation ready and much more.
Theme URI: https://ayatemplates.com/product/tour
Author: ayatemplates
Author URI: https://ayatemplates.com
Version: 1.0.9
Text Domain: tour
Tags: blog, holiday, entertainment, two-columns, right-sidebar, custom-logo, custom-background, custom-colors, custom-header, custom-menu, featured-images, threaded-comments, translation-ready, theme-options, sticky-post, footer-widgets, full-width-template, front-page-post-form
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* general styles */
body {
	font-family:"Yanone",Arial,Helvetica,sans-serif !important;
	font-size:13px;
	margin:0;
	padding:0;
	background-color:#555555;
	color:#555555; 
	width:100%;
}

#body-content-wrapper {
	position:relative;
	overflow:hidden;
	background-color:#ffffff;
}

input, select, textarea, button, #container .button {
	font-family:inherit;
}

button {
	cursor:pointer;
}

body:before {
	content: none !important;
}

a {
	text-decoration:none;
	outline:none;
	color:#6baffd;
}

a:hover {
	color:#748914;
}

a img{
	outline:none;
}

p {
	padding:3px 0 3px 0;
	margin:0;
}

img {
	border:0;
	outline:0;
}

#footer-menu {
	text-align:center;
	margin:15px 0;
}

#footer-menu ul,
#footer-menu li {
	display:inline;
	padding:0;
	margin:0;
}

#footer-menu li {
	margin-right:20px;
}

#footer-main {
	clear:both;
	color:#054289; 
	margin:20px 0 0 0;
	padding:10px 2% 5px 2%;
}

#footer-main a {
	color:#0263d4; 
}

#footer-main a:hover {
	color:#daf38d; 
}

.footer-social-widget li {
	display:inline;
}

#footer-main input[type="text"] {
	width:130px;
	background-color:#fff;
}

.footer-social-widget a {
	display:inline-block;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
}

.footer-social-widget li {
	margin-right:5px;
}

#footer-main .post-date {
	margin:0 0 0 14px;
}

.footer-title {
	padding:0 5px 10px 1px;
	font-size:17px;
	color:#054289;
	letter-spacing:1px;
}

.footer-after-title {
	clear:both;
}

#home-content-wrapper img,
#main-content-wrapper img,
#footer-main img {
	max-width:100%;
	height:auto;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#home-content-wrapper a:hover img,
#main-content-wrapper a:hover img,
#footer-main a:hover img {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	opacity:0.7;
}

#main-content-full {
    overflow:hidden;
    margin:0 0 20px 2%;
    width:96%;
}

.wide-content article {
    width:auto;
}

.wide-content  h1,
.wide-content .content,
.wide-content .after-content,
.wide-content .quote-content {
    padding-left:0;
}

h1, h2, h3, h4, h5, h6{
	font-weight:400;
	margin:0;
	color:#8bc707; 
}
	
h1 {
	font-size:28px;
	padding:10px 0 3px 0;
}

h2 {
	font-size:22px;
	padding:5px 0 0 0;
}

h3 {
	font-size:20px;
	padding:8px 0 5px 0;
}

h4 {
	font-size:18px;
	padding:2px 0 1px 0;
}

h5 {
	font-size:16px;
	padding:2px 0 1px 0;
}

h6 {
	font-size:14px;
	padding:2px 0 1px 0;
}

table {
    border-collapse: collapse;
}

td, th {
	padding:10px;
}

#wp-calendar,
#wp-calendar th,
#wp-calendar td {
	border:none;
}

#wp-calendar td,
#wp-calendar th {
	padding:0;
}

embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 100%;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}

#sidebar select{
	max-width:95%;
}

.gallery-item .gallery-icon > a:before,
dt.gallery-icon > a:before,
dt.gallery-icon > a:before,
.gallery-item .gallery-icon:before {
	content:'' !important;
}

#header-content-wrapper {
	text-align: center;
}

#header-logo > a.custom-logo-link,
#header-logo #site-identity {
    float:left;
}

#header-logo h1 {
	padding:0;
	text-align:left;
}

#site-identity strong {
    font-weight: normal;
}

#navmain li {
	padding:0;
}

ul > li {
	padding:3px 0;
	margin:0;
	list-style-type:none;
}

ol > li {
	padding:3px 0;
	margin:0;
}

ol {
	padding:0 0 0 30px;
}

ul {
	padding:0 0 0 15px;
}

.widget > ul,
.col > ul,
#sidebar > ul {
	padding-left:0;
}

/* header */
#header-main-fixed {
	clear:both;
	color:#6baffd;
	width:auto;
	left:0;
	right:0; 
}

#header-main-fixed a h1,
#header-main-fixed a {
	color:#8bc707; 
}

#header-main-fixed a:hover {
	color:#748914; 
}

#header-main-fixed #header-top {
	text-align:center;
	background-color: #6baffd;
    padding: 3px 0 5px;
}

#header-main-fixed #header-top {
	color: #fafafa;
}

#header-main-fixed #header-top a {
    color: #fafafa;
}

#header-main-fixed #header-top a:hover {
    color:#748914;
}

.facebook16:before {
	content: "\f09a";
}

.google16:before {
	content: "\f0d5";
}

.instagram16:before {
	content: "\f16d";
}

.linkedin16:before {
	content: "\f0e1";
}

.rss16:before {
	content: "\f09e";
}

.tumblr16:before {
	content: "\f173";
}

.twitter16:before {
	content: "\f099";
}

.youtube16:before {
	content: "\f167";
}

.pinterest16:before {
    content: "\f0d2";
}

.vk16:before {
    content: "\f189";
}

.flickr16:before {
    content: "\f16e";
}

.vine16:before {
    content: "\f1ca";
}

.facebook16:before,
.google16:before,
.instagram16:before,
.rss16:before,
.tumblr16:before,
.linkedin16:before,
.twitter16:before,
.youtube16:before,
.pinterest16:before,
.vk16:before,
.flickr16:before,
.vine16:before {
	font-family:'FontAwesome';
	font-size: 16px;
}

.header-social-widget a:before {
	font-size: 14px;
}

.header-social-widget a {
	display:inline-block;
	width:17px;
	height:17px;
	padding-top:3px;
}



#header-spacer {
	width:100%;
}

#header-content-wrapper,
#slider-content-wrapper {
	padding:0 2% 0 2%;
}

.item-arrow-down:after,
.item-arrow-up:after {
	font-family:'FontAwesome';
	font-size:12px;
}

.item-arrow-down:after {
	content:"\f107";
}

.item-arrow-up:after {
	content:"\f106";
}

.header-social-widget {
	display:inline-block;
}

.header-social-widget li {
	margin-right:0;
	display:inline;
}

#navmain {
	margin:0;
	clear:both;
	float:left;
}

#navmain ul {
	text-align: left;
}

#navmain > div > ul > .current-menu-item > a, #navmain > div > ul > .current-menu-ancestor > a,
#navmain > div > ul > li > a:hover, .cart-contents-icon:hover, .search-form-icon:hover {
	color:#8bc707; 
}

#navmain a:hover {
	text-decoration:none;
}

article,
aside {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

/* main content */
#main-content,
#container {
	overflow:hidden;
	padding:10px 0 0 0;
}

#main-content > article:first-of-type h1 {
	margin-top:0;
	padding-top:0;
}

/* sidebar */
#sidebar {
	overflow:hidden;
	padding:10px 0 0 0;
}

#sidebar ul:not(.social-widget) > li:before,
article ul > li:before {
	content:"\f105";
	font-family:'FontAwesome';
	display:inline-block;
	margin:0 5px 10px 1px;
	opacity:0.7;
}

#sidebar > ul {
	margin-left:3px;
}

#sidebar .widget {
	margin-bottom:5px;
    clear: both;
}

#infoTxt {
	padding:10px 0 10px 0;
}

article ul > li:before {
	font-family:'FontAwesome';
	content:"\f105";
	display:inline-block;
	text-align:center;
	margin:0 7px 7px 0;
}

article {
	clear:both;
}

.separator {
}

#copyright {
	clear:both;
	text-align:center;
}

#fsocial {
	clear:both;
	padding:0 0 5px 0;
	text-align:center;
}

.header-social-widget {
	list-style:none;
	padding:0;
	margin:0;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
	border:1px solid #B2AEA3;
	padding:4px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

input[type="submit"],
button {
	font-size:14px;
}

input[type="submit"],
button,
.btn,
#container .button {
	padding:8px 12px;
	text-decoration:none;
	font-weight:normal;
	border:none;
	color:#ffffff;
	background-image: -ms-linear-gradient(top, #8bc707 0%, #748914 100%);
	background-image: -moz-linear-gradient(top, #8bc707 0%, #748914 100%);
	background-image: -o-linear-gradient(top, #8bc707 0%, #748914 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8bc707), color-stop(1, #748914));
	background-image: -webkit-linear-gradient(top, #8bc707 0%, #748914 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8bc707', endColorstr='#748914');
	background-image: linear-gradient(top, #8bc707 0%, #748914 100%);
	text-shadow:0 !important;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

input[type="submit"]:hover,
button:hover,
#container .button:hover,
.btn:hover {
	color:#ffffff;
	background-image: -ms-linear-gradient(top, #748914 0%, #8bc707 100%);
	background-image: -moz-linear-gradient(top, #748914 0%, #8bc707 100%);
	background-image: -o-linear-gradient(top, #748914 0%, #8bc707 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #748914), color-stop(1, #8bc707));
	background-image: -webkit-linear-gradient(top, #748914 0%, #8bc707 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#748914', endColorstr='#8bc707');
	background-image: linear-gradient(top, #748914 0%, #8bc707 100%);
	text-decoration:none;
}

.btn {
	margin-top:10px;
	display:inline-block;
}

#respond {
	clear:both;
}

blockquote:before,
q:before {
	font-family:'FontAwesome';
	content: "\f10d";
	color:#DEDEDE;
	font-size:36px;
	float:left;
	margin:0 1% 0 0;
}

blockquote, figure {
	margin:0 1%;
}

.page-links, .post-links {
	padding:10px 0 3px 0;
	margin:0;
}



.navigation .current,
.navigation .page-dots,
.navigation .page-numbers {
	font-size:16px;
	text-align:center;
	display:inline-block;
	float:left;
}

.navigation .page-dots,
.navigation .page-numbers {
	padding:7px 13px;
	border:1px solid #dddddd;
	margin-right:-1px;
}

.navigation .current,
.navigation .current:hover {
	text-decoration:none;
	background:#dddddd !important;
	text-align:center;
	margin-right:-1px;
}

.navigation .page-numbers:hover {
	text-decoration:none;
	background:#fafafa;
	text-align:center;
}

.nav-links {
	padding-top:10px;
}

.nav-links .nav-previous {
	float:left;
}

.nav-links .nav-previous:before {
	font-family:'FontAwesome';
	content:"\f100";
	margin-right:5px;
}

.nav-links .nav-next {
	float:right;
}

.nav-links .nav-next:after {
	font-family:'FontAwesome';
	content:"\f101";
	margin-left:5px;
}

/* utilities classes */
.right {
	float:right;
}

.left {
	float:left;
}

.clear {
	clear:both;
}

.text-center {
	text-align:center;
}

/* search form */
.search-wrapper {
	border:1px solid #B2AEA3;
	background-color:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	padding-left:0 !important;
	display:inline-block;
}

.search-wrapper .search-textbox {
	border:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.search-wrapper  .search-button {
	color:#777777;
	background-color:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	box-shadow: none;
	filter:none;
	background-image: none;
}

.search-wrapper  .search-button:before {
	font-family:'FontAwesome';
	content:"\f002";
}

/* comments */
#comments {
	margin-top:25px;
	font-size:18px;
	float:left;
	clear:both;
	padding:0 5px 1px 1px;
}

.commentlist {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
}

.commentlist li {
	list-style:none;
}

.commentlist li .pingback .comment-author {
	padding:0 170px 0 0;
}

.commentlist li div .vcard {
	font-weight:bold;
	font-size:14px;
	line-height:16px;
}

.commentlist li div .vcard cite .fn {
	font-style:normal;
	font-size: 11px;
}

.commentlist li div .vcard cite .fn a .url {
	color:#cc0000;
	text-decoration:none;
}

.commentlist li div .vcard cite .fn a .url:hover {
	color:#000;
}

.commentlist li div .vcard img .avatar {
	background:#fff;
	border:1px solid #aaa;
}

.commentlist li div .comment-meta a {
	color:#205B87;
	text-decoration:none;
}

.commentlist li p {
	font-weight:normal;
	font-size:12px;
	line-height:16px;
	margin:5px 0 12px;
}

.commentlist li ul {
	font-weight:normal;
	font-size:12px;
	line-height:16px;
	list-style:square;
	margin:0 0 12px;
	padding:0;
}

.commentlist li div .reply {
	background:#999;
	border:1px solid #666;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	color:#fff;
	font:bold 9px/1 helvetica,arial,sans-serif;
	padding:6px 5px 4px;
	text-align:center;
	width:36px;
}

.commentlist li div .reply:hover {
	background:#cc0000;
	border:1px solid #cc0000;
}

.commentlist li div .reply a {
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}

.commentlist li ul.children {
	list-style:none;
	margin:12px 0 0;
	text-indent:0;
}

.commentlist li ul .children li .depth-2 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-3 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-4 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-5 {
	margin:0 0 7px;
}

.commentlist ul .children li .odd {
	background:#fff;
}

.commentlist .odd {
	background:#f6f6f6;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.commentlist li .pingback div .vcard {
	padding:0 170px 0 0;
}

.comment-body {
	padding-left:0;
}

#reply-title {
	margin-top:25px;
	text-align:center;
	font-size:18px;
	float:left;
	clear:both;
	padding:0 5px 0 1px;
}

.entry-title {
	clear:both;	
}

.before-content,
.after-content,
.custom-after-content,
.page-after-content {
	padding-top:5px;
	padding-bottom:5px;
}

.after-content,
.custom-after-content,
.page-after-content {
	clear:both;
}

.author-icon {
	line-height:26px;
}

.author-icon img {
	float:left;
	margin-right:7px;
}

.author-icon a {
	float:left;
}

.categories-wrapper:before,
.tags-wrapper:before,
.aside-icon:before,
.audio-icon:before,
.category-icon:before,
.clock-icon:before,
.comments-icon:before,
.edit-icon:before,
.gallery-icon:before,
.image-icon:before,
.link-icon:before,
.quote-icon:before,
.tags-icon:before,
.video-icon:before,
.quote-content:before,
.quote-content:after,
.sticky h1:before {
	font-family:'FontAwesome';
	margin:0;
}

.categories-wrapper:before,
.tags-wrapper:before,
.aside-icon:before,
.audio-icon:before,
.category-icon:before,
.clock-icon:before,
.comments-icon:before,
.edit-icon:before,
.gallery-icon:before,
.image-icon:before,
.link-icon:before,
.quote-icon:before,
.tags-icon:before,
.video-icon:before,
.quote-content:before,
.quote-content:after {
	font-size:18px;
}

.aside-icon,
.audio-icon,
.author-icon,
.category-icon,
.clock-icon,
.comments-icon,
.edit-icon,
.gallery-icon,
.image-icon,
.link-icon,
.quote-icon,
.tags-icon,
.video-icon,
.quote-content,
.quote-content:after,
.sticky h1 {
	margin-right:7px;
}

.aside-icon:before {
	content: "\f0f6";
}

.audio-icon:before {
	content: "\f001";
}

.category-icon:before {
	content:"\f115";
}

.clock-icon:before {
	content:"\f017";
}

.comments-icon:before {
	content: "\f0e5";
}

.edit-icon:before {
	content:"\f040";
	margin-right:2px;
}

.gallery-icon:before {
	content:"\f03e";
}

.image-icon:before {
	content: "\f03e";
}

.link-icon:before {
	content: "\f0c1";
}

.quote-icon:before {
	content: "\f10d";
}

.tags-icon:before {
	content: "\f02c";
}

.video-icon:before {
	content: "\f008";
}

.categories-wrapper:before {
	content: "\f115";
}

.tags-wrapper:before {
	content: "\f02c";
}

/* thumbnails */
img.wp-post-image {
	margin:0 5px 5px 0;
}

/* calendar widget */
.widget_calendar {
	float:left;
}

#wp-calendar caption {
	color:#333;
	font-size:12px;
	padding:5px;
}

#wp-calendar thead,
#wp-calendar tfoot {
	font-size:10px;
}

#wp-calendar th {
	border-bottom:3px solid #ccc;
}

#wp-calendar tbody {
	color:#aaaaaa;
}

#wp-calendar tbody td {
	text-align:center;
}

#wp-calendar tbody #today {
	background: #c5c5c5;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-ms-border-radius:50px;
	-o-border-radius:50px;
	border-radius:50px;
}

#wp-calendar tbody .pad {
	background:none;
}

#wp-calendar tfoot #next {
	font-size:10px;
	text-transform:uppercase;
	text-align:right;
}

#wp-calendar tfoot #prev {
	font-size:10px;
	text-transform:uppercase;
	padding-top:10px;
}

#wp-calendar tbody td {
	padding:8px;
}

.quote-content:before {
	content: "\f10d";
}

.quote-content:after {
	content: "\f10e";
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.scrollup:before {
	content:"\f106";
	display:inline-block;
	vertical-align:middle;
	font:30px 'FontAwesome';
	color: rgba(255,255,255,.6) !important;
}

.scrollup {
	width: 40px;
	height: 40px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	-webkit-border-top-left-radius:2px;
	-moz-border-top-left-radius:2px;
	-ms-border-top-left-radius:2px;
	-o-border-top-left-radius:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-top-right-radius:2px;
	-ms-border-top-right-radius:2px;
	-o-border-top-right-radius:2px;
	border-top-right-radius:2px;
	position: fixed;
	bottom: 0;
	right:2%;
	display:none;
	color:#CBC8B5;
	background-color:#555555 !important;
	z-index:5001;
	line-height:34px;
	text-align:center;
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.25);
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.scrollup:hover {
	background-color:#4A4C4D !important;
	color:#858282 !important;
}

.wp-caption {
	max-width:95%;
    padding:4px 4px 4px 4px;
    border:1px solid #ccc;
    color:#555;
    background:#f9f9f9;
    -moz-box-shadow:1px 1px 5px rgba(153, 153, 153, 0.3);
    -webkit-box-shadow:1px 1px 5px rgba(153, 153, 153, 0.3);
    box-shadow:1px 1px 5px rgba(153, 153, 153, 0.3);
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
    clear:both;
}

.wp-caption p.wp-caption-text { 
	background-color:#858581;
	color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:2px 4px 2px 4px;
}

.sticky {
}

.sticky h1:before {
	content:"\f0c6";
}

.gallery-caption {
}

.bypostauthor {
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.widget_aya_advancedtextcontent_widget {
	clear:both;
}

.post-date {
	display:block;
	margin:-5px 0 10px 13px;
}

blockquote {
	margin-bottom:10px;
}

.sidebar-title {
	font-weight:normal;
	font-style: italic;
	font-size:18px;
	letter-spacing:0.5px;
	float:left;
	clear:both;
}

.sidebar-title:not(:first-child) {
	margin-top:15px;
	margin-bottom:-2px;
}

.sidebar-before-title {
	clear:both;
}

.sidebar-after-title {
	clear:both;
	height:1px;
	margin-bottom:5px;
	width:100%;
}

.page-after-content,
.after-content {
	clear:both;
}

.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 25%;
}

.gallery-columns-4 .gallery-item {
	max-width: 20%;
}

.gallery-columns-5 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-6 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-7 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-8 .gallery-item {
	max-width: 11.11%;
}

.gallery-columns-9 .gallery-item {
	max-width: 10.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/* Responsive Web Design */

/* Large Resolution */
@media screen and (min-width: 800px) {

	#body-content-wrapper {
		margin-left:30px;
		margin-right:30px;
	}
	
	#main-content,
	#container {
		float:left;
		margin:0 0 20px 2%;
		width:63%;
	}

	#sidebar {
		float:left;
		margin:10px 2% 30px 2%;
		width:30%;
		padding:0;
	}
	
	#header-logo {
		float:left;
		margin-top:20px;
	}

	#sidebar-header {
		padding:20px 0 10px 0;
	}

	#navmain div {
		padding:0;
	}
	
	#navmain ul {
		padding:0;
		margin:0;
		white-space:nowrap;
	}
	
	#navmain ul  li {
		position:relative;
		float:left;
	}
	
	#navmain > div > ul > li {
		margin-right:5px;
	}
	
	#navmain ul a {
		padding:17px 5px;
		font-size:16px;
		white-space:nowrap;
		display:inline-block;
	}

	#navmain ul ul li:hover > a {
		background-color:#8bc707;
		color:#e3f0fe;
	}
	
	#navmain ul ul ul,
	#navmain ul ul  ul li:first-of-type,
	#navmain ul ul ul li:first-of-type > a {
		-webkit-border-top-left-radius:3px;
		-moz-border-top-left-radius:3px;
		border-top-left-radius:3px;
		-webkit-border-top-right-radius:3px;
		-moz-border-top-right-radius:3px;
		border-top-right-radius:3px;
	}
	
	#navmain ul ul,
	#navmain ul ul li:last-of-type,
	#navmain ul ul li:last-of-type > a {
		-webkit-border-bottom-left-radius:3px;
		-moz-border-bottom-left-radius:3px;
		border-bottom-left-radius:3px;
		-webkit-border-bottom-right-radius:3px;
		-moz-border-bottom-right-radius:3px;
		border-bottom-right-radius:3px;
	}

	#navmain ul ul {
		list-style:none;
		margin:0;
		padding:0;
		position:absolute;
		z-index:5000;
		display:none;
		color:#748914;
		background-color:#e3f0fe;
	}

	#navmain ul ul:not(.cart_list) {
        opacity:0;
    }

	#navmain ul li:hover > ul {
       display:block;
       opacity:1;
       animation: opacity 700ms ease-in-out normal;
       -moz-animation: opacity 700ms ease-in-out normal;
       -ms-animation: opacity 700ms ease-in-out normal;
       -o-animation: opacity 700ms ease-in-out normal;
       -webkit-animation: opacity 700ms ease-in-out normal;    
    }

    @keyframes opacity {
        from { opacity:0; }
        to { opacity: 1; }
    }
    @-moz-keyframes opacity {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @-ms-keyframes opacity {
        from {opacity:0; }
        to { opacity: 1; }
    }
    @-o-keyframes opacity {
        from {opacity:0; }
        to { opacity: 1; }
    }
    @-webkit-keyframes opacity {
        from { opacity:0; }
        to { opacity: 1; }
    }

	#navmain ul li ul a {
		display:block;
	}
	
	#navmain ul ul ul {
		top:-1px;
		left:100%;
	}
	
	#navmain ul ul li {
		float:none;
	}
	
	#navmain ul ul a {
		padding:9px 35px 9px 10px;
		-webkit-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.15) inset;
	}
	
	.level-one-sub-menu > a:after {
		content: "\f107";
		font-family:'FontAwesome';
		margin:0 0 0 5px;
	}
	
	.level-two-sub-menu > a:before {
		content: "\f105";
		font-family:'FontAwesome';
		position:absolute;
		right:10px;
		top:9px;
	}

	/* comments */
	.commentlist li div .vcard img .avatar {
		padding:5px;
		left:7px;
		position:absolute;
		top:7px;
	}
	
	.commentlist li {
		margin:0 0 10px;
		padding:5px 10px;
		position:relative;
	}
	
	.commentlist li div.comment-meta {
		font-weight:bold;
		font-size:10px;
		line-height:16px;
		position:absolute;
		right:10px;
		text-align:right;
		top:5px;
	}

	#commentform input[type="text"],
	#commentform input[type="email"] {
		width:145px;
		padding-top:7px;
		padding-bottom:7px;
	}
	
	#commentform input[type="url"] {
		width:100%;
		padding-top:7px;
		padding-bottom:7px;
	}
	
	#commentform textarea {
		width:470px;
		display:block;
		padding-top:7px;
		padding-bottom:7px;
		height:150px;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url  {
		width:150px;
		float:left;
	}
	
	.comment-form-author,
	.comment-form-email	{
		margin-right:10px;
	}
	
	.comment-form-comment {
		clear:both;
		width:100%;
	}
	
	#comment {
		width:100%;
	}
	
	#sidebar #searchsubmit {
		padding-top:7px;
		padding-bottom:7px;
	}

	.header-social-widget li {
		margin-left:10px;
	}

	/* columns */
	.col3a,
	.col3b,
	.col3c {
		float:left;
		width:30.6%;
	}
	
	.col3a,
	.col3b {
		margin:0 3.5% 5px 0;
	}
	
	.col3c {
		margin:0 0 5px 0;
	}
}

/* Medium Resolution */
@media screen and (max-width: 799px) {

	#body-content-wrapper {
		margin-left:20px;
		margin-right:20px;
	}
		
	#header-main-fixed {
		width:auto;
		left:0;
		right:0;
	}
	
	h1 {
		font-size:24px;
	}

	#header-main-fixed {
		padding-bottom:0;
		top:0;
	}

	#main-content {
		float:none;
		clear:both;
		margin:0 2% 10px 2%;
		width:95%;
	}

	#sidebar {
		float:none;
		clear:both;
		margin:0 2% 10px 2%;
		width:95%;
	}
	
	#header-logo {
		float:none;
		display:inline-block;
		margin-left:5px;
	}
	
	#navmain {
		cursor:pointer;
		float:left;
		margin-top:0;
	}
	
	#navmain > div > ul > li > a {
		color: #65810f;
	}
	
	#navmain div:first-of-type:before {
		font:36px 'FontAwesome';
		content:"\f0c9";
		margin:0 0 0 5%;
		color:#545454;
		text-shadow:1px 1px 2px rgba(0,0,0,0.25);
	}

	#navmain div {
		clear:both;
		text-align:left;
	}

	#navmain ul {
		padding:0;
	}
				
	#navmain div > ul {
		color:#000000 !important;
		background-color: #e3f0fe;
		display:none;
		list-style:none;
		margin:0 0 0 2px;
		padding:0 0 5px 0;
		position:absolute;
		z-index:5000;
		overflow:hidden;
		width:280px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
	}
	
	
	#navmain ul  li {
		position:relative;
		float:left;
		clear:both;
		width:100%;
	}
	
	#navmain ul a {
		white-space:nowrap;
		width:100%;
		display:block;
		padding:10px 0 10px 10px;
		-webkit-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.15) inset;
		
	}

	#navmain ul a:hover {
		color:#e3f0fe !important;
		background-color:#8bc707 !important;
		border-top:none;
		border-right:none;
		border-left:none;
	}
	
	article ul > li:before {
		margin-top:1px !important;
	}

	.separator {
		height:1px;
	}

	.commentlist li {
		margin:0 1% 10px 0;
		padding:5px 3px 5px 10px;
		position:relative;
	}

	.commentlist li div .comment-meta {
		position:relative;
		text-align:right;
	}

	#commentform input[type="text"],
	#commentform input[type="email"],
	#commentform input[type="url"],
	#commentform textarea {
		width:300px;
		display:block;
	}
	
	#commentform textarea {
		height:150px;
	}

	.comment-form-comment {
		clear:both;
	}
	
	#contact-form input[type="text"],
	#contact-form input[type="email"],
	#contact-form input[type="url"],
	#contact-form textarea {
		width:300px;
	}
	
	input[type="submit"],
	button,
	.btn {
		padding:6px 8px;
	}

	/* columns */
	.col3a,
	.col3b,
	.col3c {
		float:left;
		width:48%;
	}

	.col3a,
	.col3c {
		margin:0 4% 5px 0;
	}

	.col3b {
		margin:0 0 5px 0;
	}

	.col3c {
		clear:both;
	}
}

/* Small Resolution */
@media screen and (max-width: 360px) {

	#body-content-wrapper {
		margin-left:10px;
		margin-right:10px;
	}
		
	#header-main-fixed {
		width:auto;
		left:0;
		right:0;
	}

	body {
		font-size:13px;
	}

	article ul > li:before {
		margin-top:1px !important;
	}

	.separator {
		height:1px;
	}

	.commentlist li {
		margin:0 1% 10px 0;
		padding:5px 3px 5px 10px;
		position:relative;
	}

	.commentlist li div.comment-meta {
		position:relative;
		text-align:right;
	}

	.col3a,
	.col3b,
	.col3c {
		float:none;
		width:96%;
		margin:0 2% 5px 2%;
	}
}

.form-submit {
	clear:both;
}

.comment-notes {
    clear: both;
}

/* Extra-Large Resolution */
@media screen and (min-width: 1200px) {

	#body-content-wrapper {
		margin:0 auto;
		width:1180px;
	}
		
	#header-main-fixed {
		margin:0 auto;
		width:1180px;
	}

	#header-content-wrapper {
		margin:0 auto;
		width:1150px;
	}

	#top-widget-inner,
	#home-cols-inner,
	#bottom-widget-inner,
	#main-content-wrapper,
	#footer-content-wrapper	{
		margin:0 auto;
		width:1150px;
	}

	#main-content,
	#container,
	#hdrtop-searchform-subcontent {
		margin-left:0;
	}
	
	#main-content-full {
		margin:0;
		width:auto;
	}
	
	#header-content-wrapper,
	#top-widget,
	#home-cols, 
	.bottom-widget,
	.top-widget{
		padding-left:0;
		padding-right:0;
	}
	
	#sidebar {
		float:right;
		margin-right:0;
	}

	#footer-main {
		padding-left:0;
		padding-right:0;
	}
}

/* Slider */
.pgwSlider {
    width: 100%;
}

.pgwSlider a{
    display: block;
    text-decoration: none;
}

.pgwSlider .ps-current {
    float: left;
    width: 74%;
    overflow: hidden;
    height: inherit;
    position: relative;
    font-size: 1rem;
}

.pgwSlider.listOnTheLeft .ps-current {
    float: right;
}

.pgwSlider .ps-current ul {
    width: 100%;
}

.pgwSlider .ps-current li {
    width: 100%;
    z-index: 1;
    opacity: 0;
    display: none;
}

.pgwSlider .ps-current img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
    transition: margin-top 250ms linear;
}

.pgwSlider .ps-caption {
    position: absolute;
    width: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    left: 0;
    bottom: 0;
    display: none;
    z-index: 3;
}

ul.pgwSlider,
.pgwSlider  ul {
    float: right;
    width: 25%;
    padding: 0;
    list-style: none;
    margin: 0;
}

ul.pgwSlider.listOnTheLeft,
.pgwSlider.listOnTheLeft > ul {
    float: left;
}

ul.pgwSlider > li,
.pgwSlider > .ps-list > li {
    height: 50px;
    margin-bottom: 6px;
    overflow: hidden;
    position: relative;
    opacity: 0.6;
    filter: alpha(opacity=60);
    font-size: 0.8rem;
    transition: opacity 200ms linear;
}

ul.pgwSlider > li:last-child,
.pgwSlider > ul > li:last-child {
    margin-bottom: 0;
}

ul.pgwSlider > li span,
.pgwSlider > .ps-list > li span {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.pgwSlider > li:hover,
.pgwSlider > ul > li:hover {
    opacity: 1 !important;
}

ul.pgwSlider > li img,
.pgwSlider > ul > li img {
    width: 100%;
    min-height: 100%;
    display: block;
    transition: margin-top 250ms linear;
}

.pgwSlider .ps-prevIcon {
    border-color:transparent #fff transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    display: block;
}

.pgwSlider .ps-nextIcon {
    border-color:transparent #fff transparent;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    display: block;
}

.pgwSlider .ps-current .ps-prev {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    position: absolute;
    padding: 20px 20px 20px 17px;
    left: 0;
    top: 45%;
    cursor: pointer;
}

.pgwSlider .ps-current .ps-next {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    position: absolute;
    padding: 20px 17px 20px 20px;
    right: 0;
    top: 45%;
    cursor: pointer;
}

/*
 * The media-queries are not used because IE8 doesn't support them.
 */
ul.pgwSlider.wide > li,
.pgwSlider.wide > ul > li {
    width: 100% !important;
}

.pgwSlider.narrow .ps-current {
    margin-bottom: 6px;
    font-size: 0.8rem;
}

.pgwSlider.narrow .ps-current img {
    width: 100%;
    min-height: inherit;
}

.pgwSlider.narrow .ps-current,
ul.pgwSlider.narrow,
.pgwSlider.narrow > ul {
    width: 100%;
}

ul.pgwSlider.narrow > li,
.pgwSlider.narrow > .ps-list > li {
    float: left;
    min-height: 50px;
    max-height: 70px;
    min-width: 15%;
    font-size: 0.7rem;
    margin-bottom: 0;
}

ul.pgwSlider.narrow.listOnTheLeft > li,
.pgwSlider.narrow.listOnTheLeft > ul > li {
    float: right;
}

.pgwSlider.narrow .ps-caption {
    padding: 8px;
}

.pgwSlider.narrow .ps-current .ps-prev {
    padding: 15px 15px 15px 12px;
    top: 40%;
}

.pgwSlider.narrow .ps-current .ps-next {
    padding: 15px 12px 15px 15px;
    top: 40%;
}

.pgwSlider .ps-caption h2,
ul.pgwSlider > li span h2,
.pgwSlider > .ps-list > li span h2 {
	color:#ffffff;
}

.pgwSlider .ps-caption,
ul.pgwSlider > li span,
.pgwSlider > .ps-list > li span {
	color:#ffffff;
}

.pgwSlider .ps-caption a,
ul.pgwSlider > li span a,
.pgwSlider > .ps-list > li span a {
	color:#cccccc;
}

.pgwSlider .ps-caption a:hover,
ul.pgwSlider > li span a:hover,
.pgwSlider > .ps-list > li span a:hover {
	color:#748914;
}

.pgwSlider > .ps-list > li span h2 {
	font-size:14px;
}
