/* header */
body{
	font-family: Arial !important;
	background: #DCCDAC !important;
}
#content {
	background: #fff;
}
#logo {
	padding:10px 10px;
	color: #fff;
	background: #000;
}
#contact-header {
	font-weight: bold;
}
.textleft {
	text-align: right;
}
.carousel-inner {

}
.carousel-inner img {
	height: 100%;
	width: 100%;
}


/* end header */
.content-featured {
	width: 100%;
	padding:0 10px;
	margin-top: 20px;
}

ul.products li {
	background: #f2f2f2;
	padding:10px 10px 5px 10px !important;
	margin-bottom: 0.5em !important;
}
.entry-footer span,.entry-footer h3,.entry-footer p{
	color: #000;
}

#one-day-tour ul li{
	background: none !important;
}
#one-day-tour {
	background: #f2f2f2;
}
 #one-day-tour ul li h3 {
 	font-size: 1.3em;
 }
 ul.products li img {
 	width: 100% !important;
 }
.easingslider-1322 {
	max-width: 100% !important;
}
.easingslider-1322 .easingslider-image{
	max-width: 100% !important;
	max-height: auto !important;
}
.slider-header {
	margin:3px 0 ;
}
.widget {
	margin:20px 0 !important;
}
aside h3 {
	margin: 0 0 !important;
}

#one-day-tour .item-product .entry-thumbnail{
	padding-top: 50px;

}
#one-day-tour .item-product .entry-thumbnail img{
	border:1px solid #bbb;
	padding: 3px 3px;
}

#one-day-tour .item-product .entry-description h3 a {
	color: #000 !important;
	font-weight: bold;
}
#one-day-tour .item-product .entry-description p {
	color: #000;
	margin-bottom: 0px !important;
}
#one-day-tour .item-product .entry-description span.price{
	color: #c73603;
    font-weight: bold;
    font-size: 13px;
}
#one-day-tour .woocommerce a.button {
	background: #4c6074 !important;
}
.woocommerce a.button {
	text-transform: none !important;
}
.recent-product .item-product .entry-description h3 a{
	color: #FF8400;
	font-size: 16px;
	font-weight: bold;
}
.recent-product .item-product .entry-description p{
	color: #000;
}
.recent-product .woocommerce a.button {
	background: #008800 !important;
}
.recent-product .item-product .entry-description span.price{
	padding: 7px 7px;
    border: 2px solid #F65108;
    max-width: 107px;
    color: #FF0000 !important;
    font-size: 14px !important;
}

.featured_post p.title-featured-post a{
	color: #355D35;
    font-family: 'Times New Roman';
    font-size: 34px;
}
.featured_post p.title-featured-post {
	text-align: center;
    margin-bottom: 0 !important;
}
.title-footer a{
	color: #2B576E;
}
.wpcf7-submit {
	background: #0000FF !important;
}
#wpcf7-f1297-o1 p{
	color: #000;
}
#contact-footer {
	border-top: 1px solid #ccc;
}
#contact-footer h3{
	color: #000;
}
.border-img {
		text-align: center;
	}
@media only all and (max-width: 768px) {
	#one-day-tour ul li.col-sm-6{
		width: 100% !important;
	}
}
@media only all and (min-width: 768px) {
	ul.products li img {
	 	max-height: 148px;
	 }
	 #one-day-tour ul li.col-xs-12{
		width: 48% !important;
	}
	#primary{
		padding-bottom: 30px;
	}
	#secondary {
		padding-bottom: 30px;
	}
	#one-day-tour .item-product .entry-description {
		max-height: 50px;
	}
	#one-day-tour .item-product .entry-description h3{
		position: relative;
		top: -220px;
		left: 0;
	}
	#one-day-tour .item-product .entry-description p{ 
		height:60px;
		position: relative;
		top: -70px;
		overflow: hidden;
	}
	#one-day-tour .item-product .entry-description span.price{
		position: relative;
		top: -225px;
	}
   .recent-product .item-product .entry-description span.price{
		position: relative;
		top: 35px;
		left: 262px;
	}
	.recent-product ul.products li.col-xs-12 {
		width: 100% !important;
	}
	.recent-product .item-product .entry-description p{
		position: relative;
		top: -50px;
	}
   
}
@media only all and (min-width: 970px){

	.recent-product .item-product .entry-description span.price{
		position: relative;
		top: 35px;
		left: 357px;
	}
	#one-day-tour ul li.col-xs-12{
		width: 30.75% !important;
	}
}

